<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Basic -->

<meta name="keywords" content="Winamax" />
<meta name="description" content="Winamax-test">
<meta name="author" content="Rom@in">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title><%= title %></title>

<!-- favicon -->
<link rel="icon" type="image/jpg" href="<%= baseurl %>/image/winIcon.jpg" />

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Vendor CSS -->
<link rel="stylesheet" href="<%= baseurl %>vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="<%= baseurl %>vendor/font-awesome/css/all.css" />
<link rel="stylesheet" href="<%= baseurl %>vendor/font-awesome/css/v4-shims.css" />
<link rel="stylesheet" href="<%= baseurl %>vendor/magnific-popup/magnific-popup.css" />
<link rel="stylesheet" href="<%= baseurl %>vendor/bootstrap-datepicker/css/datepicker3.css" />

<link rel="stylesheet" href="<%= baseurl %>vendor/bootstrap-select/css/bootstrap-select.min.css" />


<!-- Specific Page Vendor CSS -->
<link rel="stylesheet" href="<%= baseurl %>vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
<link rel="stylesheet" href="<%= baseurl %>vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
<link rel="stylesheet" href="<%= baseurl %>vendor/morris/morris.css" />
<link rel="stylesheet" href="<%= baseurl %>vendor/select2/select2.css" />
<link rel="stylesheet" href="<%= baseurl %>vendor/bootstrap-timepicker/css/bootstrap-timepicker.css" />

<!-- DataTables CSS -->
<link rel="stylesheet" href="<%= baseurl %>javascripts/datatables/datatables.min.css" />

<!-- Notifications-->
<link rel="stylesheet" href="<%= baseurl %>vendor/pnotify/pnotify.custom.css" />


<!-- Theme CSS -->
<link rel="stylesheet" href="<%= baseurl %>stylesheets/theme.css" />

<!-- Skin CSS -->
<link rel="stylesheet" href="<%= baseurl %>stylesheets/skins/default.css" />

<!-- Custom Font -->
<link rel="stylesheet" type="text/css" href="<%= baseurl %>stylesheets/font/flaticon.css">

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="<%= baseurl %>stylesheets/theme-custom.css">

<!-- Head Libs -->
<script src="<%= baseurl %>vendor/modernizr/modernizr.js"></script>

<!-- Jquery -->
<script src="<%= baseurl %>vendor/jquery/jquery.js"></script>

<!--morris-->
<link rel="stylesheet" href="<%= baseurl %>vendor/morris/morris.css">